* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  height: 100%;
  min-height: 100vh;
  background-color: tomato;

  /* flex */
  display: flex;
  flex-direction: row;
}

h1 {
  font-weight: 0.9em;
  margin-top: 0;
  margin-bottom: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

details {
  margin: 10px 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
button {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 4px;
}

input {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

li:hover {
  background-color: #eeeeee;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 1px solid #eeeeee;
}

td:first-child {
  width: 50px;
}

#main,
#show-detail,
#episode-list {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #eeeeee;
}

/* Element | http://127.0.0.1:8080/# */

#show-detail > img:nth-child(3) {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Element | http://127.0.0.1:8080/# */

#show-detail > ul:nth-child(2) > li:nth-child(1) {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

/* Element | http://127.0.0.1:8080/# */

#show-detail > ul:nth-child(2) > li:nth-child(2) {
  padding-right: 0px;
}

.group {
  margin-bottom: 10px;
}

@media only screen and (max-width: 750px) {
  body {
    flex-direction: column;
  }
}
